<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Uchitel</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
       h2.dobUrok {
            color: aqua;
           background: darkviolet;
           width: 180px;
       }
       form.nov_urok
       {
           display: block;
       }
       button.cancelButton
       {
           display: none;
       }

  </style>
</head>
<body>

{% if user.is_authenticated %}
    <a href ="logout">Выйти ({{ user.imya }})</a>
{% else %}
    <a href ="register">Регистрация на сайте</a>
    <a href ="login">Авторизация</a>
{% endif %}


    <h1>{{ greeting }} {{ uchitel_name }} !</h1>

<table>
        <caption>Ваши уроки</caption>
          <tr>
            <th>Дата</th>
            <th>№ п/п</th>
            <th>Время начала</th>
            <th>Название предмета</th>
            <th>Тема урока</th>
            <th>Класс</th>
            <th>Комментарий</th>
            <th>Ссылка на урок</th>
            <th>Код доступа</th>
              <th>Изменить данные урока</th>
          </tr>
            {% for urok in uroki %}
          <tr>
            <td>{{urok.date_field }}</td>
            <td>{{urok.nomer_uroka }}</td>
            <td>{{urok.vremya_nachala_uroka }}</td>
            <td>{{urok.nazvanie_predmeta }}</td>
            <td>{{urok.tema_uroka }}</td>
            <td>{{urok.nomer_klassa }}</td>
            <td>{{ urok.kommentaryi }}</td>
            <td>{{ urok.ssylka_na_urok }}</td>
            <td>{{ urok.kod_dostupa }}</td>

            <td>
        {% csrf_token %}<button datafld="{{ urok.id }}" class="changeLessonData"> Изменить</button></td>
          </tr>
            {% endfor %}

    </table>

    <h2 class="dobUrok">Скрыть форму</h2>
    <form action="add_urok" method = "post" >
        {% csrf_token %}
        <div class="nov_urok">
            {{ urokForm.as_p }}
            <input type= "hidden" name="ID" value="" class="hiddenIDContainer">
            <input type = "submit" value="Добавить урок" class="formSender">
        </div>
    </form>

            <button class="cancelButton">Отмена - Добавить другой</button>
    <hr>





    <script type="application/javascript">

        {#==============Скрыть-покаpать форму============#}
      const buttonToHide = document.querySelector("h2.dobUrok");
      const formToHide = document.querySelector("div.nov_urok");


      function cancelButtonToggle(){
          if(cancelButton.style.display == "none") {
              cancelButton.style.display = "block";
          }
      }

      function toggleFormHide(){
          if(formToHide.style.display == "none")
          {
              formToHide.style.display = "block";
              buttonToHide.textContent = "Скрыть форму";
          }else{
              formToHide.style.display = "none";

              buttonToHide.textContent = "Показать форму";
          }
      }

      buttonToHide.addEventListener("click", toggleFormHide);


        {#==============Ajax на изменение формы============#}
        let changeLesson = document.querySelectorAll("button.changeLessonData");
        let formSender = document.querySelector("input.formSender");
        const idInput = document.querySelector("input.hiddenIDContainer");
        const cancelButton = document.querySelector("button.cancelButton");

        const in0 = document.getElementById("id_date_field");
        const in1 = document.getElementById("id_nomer_uroka");
        const in2 = document.getElementById("id_nomer_klassa");
        const in3 = document.getElementById("id_vremya_nachala_uroka");
        const in4 = document.getElementById("id_nazvanie_predmeta");
        const in5 = document.getElementById("id_prepodavatel");
        const in6 = document.getElementById("id_tema_uroka");
        const in7 = document.getElementById("id_ssylka_na_urok");
        const in8 = document.getElementById("id_kod_dostupa");
        const in9 = document.getElementById("id_kommentaryi");

        function formUpgradeAJAX (event) {
            let formId = event.target.getAttribute('datafld');
            console.log(formId);
            if (formToHide.style.display == "none") {
                formToHide.style.display = "block";
                buttonToHide.textContent = "Скрыть форму";
            }

            formSender.setAttribute('value', "Изменить форму");
            cancelButton.style.display = "block";
            idInput.setAttribute('value', formId);

            {#========csrf==============#}
            $.ajaxSetup({
                 beforeSend: function(xhr, settings) {
                     function getCookie(name) {
                         var cookieValue = null;
                         if (document.cookie && document.cookie != '') {
                             var cookies = document.cookie.split(';');
                             for (var i = 0; i < cookies.length; i++) {
                                 var cookie = jQuery.trim(cookies[i]);
                                 // Does this cookie string begin with the name we want?
                                 if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                     cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                     break;
                                 }
                             }
                         }
                         return cookieValue;
                     }
                     if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                         // Only send the token to relative URLs i.e. locally.
                         xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                     }
                 }
            });
            {#========csrf==============#}
            $.ajax({

                url: 'form_prepare',
                type: "POST",
                data: {
                    'needFormNomer': formId
                },
                dataType: 'json',
                success: function(data) {
                   console.log(data);
                   in0.value = data["date_field"];
                   in1.value = data["nomer_uroka_id"];
                   in2.value = data["nomer_klassa_id"];
                   in3.value = data["vremya_nachala_uroka"];
                   in4.value = data["nazvanie_predmeta_id"];
                   in5.value = data["prepodavatel_id"];
                   in6.value = data["tema_uroka"];
                   in7.value = data["ssylka_na_urok"];
                   in8.value = data["kod_dostupa"];
                   in9.textContent = data["kommentaryi"];
                }
            });
        }


        changeLesson.forEach(elem => elem.addEventListener("click", formUpgradeAJAX));

        {#============Работа кнопки отмена=======#}
        cancelButton.addEventListener("click", () => {
            cancelButton.style.display = "none";
            idInput.setAttribute("value", "");
            formSender.setAttribute('value', "Добавить урок");
                   in0.value = "";
                   in1.value = "x";
                   in2.value = "x";
                   in3.value = "";
                   in4.value = "";
                   in5.value = "";
                   in6.value = "";
                   in7.value = "";
                   in8.value = "";
                   in9.textContent = "";

        })


    </script>
</body>
</html>